name: 企鹅读书2

on:
  workflow_dispatch:
  schedule:
    - cron: '*/3 * * * *'
  watch:
    type: [started]

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: 'Set up Python'
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
         
      - name: 'Install requirements'
        run: pip install -r ./requirements.txt 
        
      - name: '运行【企鹅读书2】' 
        run: python3 ./scripts/qq_read.py 
        env:
            CONFIG: ${{ secrets.CONFIG }}
